@model IGT.PNRProcessing.BusinessEntities.GetTicketingFlowSettings

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>GetTicketingFlowSettings</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PCCName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PCCName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PCCID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PCCID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FlowID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FlowID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FlowName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FlowName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PreFormatedRemark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PreFormatedRemark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CommissionPct)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommissionPct)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CommissionRemarkFormat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommissionRemarkFormat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AllowedFOPId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AllowedFOPId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AllowedFareType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AllowedFareType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsCheckAVL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsCheckAVL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsCheckMCT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsCheckMCT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SuccessQ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SuccessQ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SuccessMsg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SuccessMsg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FailQ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FailQ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FailMsg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FailMsg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TargetQNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TargetQNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScanFrequency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScanFrequency)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FlowID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
