@model IGT.PNRProcessing.BusinessEntities.GetHAPDetail

@{
    ViewBag.Title = "PCC Configuration: Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>PCC Configuration: Delete</h3>
<hr />
<h5>Are you sure you want to delete below PCC Configuration?</h5>
<div>
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.PCC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PCC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GDS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GDS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Profile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GWSConnURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GWSConnURL)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default btn-primary" />
          
        </div>
    }

</div>
<div class="pad_btm_10">@Html.ActionLink("Back to List", "Index")</div>